# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
!bokukae_sce.dat
!bokukae_sce.dat.bak

# Images
!1rjO4b.gax
!41m7vl.gax
!5fucqx.gax
!9a9B32.gax
!BRhYPm.gax
!GB1ld7.gax
!if7Bg3.gax
!Q15zY7.gax
!tgScH8.gax
!TruKD4.gax
!WunB0j.gax