# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
!bokukae_sce.dat
!bokukae_sce.dat.bak
!bokukae_system.dat
!bokukae_define.dat

# Images
!01Rzqa.gax
!04bd10.gax
!1rjO4b.gax
!291Yv4.gax
!3qI035.gax
!41m7vl.gax
!5uJD9N.gax
!657wcq.gax
!9a9B32.gax
!9oM167.gax
!BRhYPm.gax
!eGUU2s.gax
!GB1ld7.gax
!Hi045n.gax
!hJ9Ost.gax
!if7Bg3.gax
!JALWUA.gax
!MM4taL.gax
!P76jlX.gax
!Q15zY7.gax
!Qyl22N.gax
!tgScH8.gax
!TruKD4.gax
!w2FX75.gax
!WunB0j.gax
!Z0YTOu.gax
