# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md
!bokukae_sce.dat
!bokukae_sce.dat.bak
!bokukae_system.dat
!bokukae_define.dat

# Images
!1rjO4b.gax
!3qI035.gax
!41m7vl.gax
!5fucqx.gax
!9a9B32.gax
!9oM167.gax
!BRhYPm.gax
!GB1ld7.gax
!if7Bg3.gax
!MM4taL.gax
!Q15zY7.gax
!Qyl22N.gax
!tgScH8.gax
!TruKD4.gax
!w2FX75.gax
!WunB0j.gax